<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>
<h1>Creating</h1>
<form th:method="POST" th:action="@{/}" th:object="${user}">
    <input type="hidden" th:field="*{id}" th:value="*{getId()}">
    <div>
        <label for="name">User's name</label>
        <input type="text" id="name" th:field="*{name}" th:value="${user.getSurname()}" placeholder="Enter user's name">
    </div>
    <br>
    <div>
        <label for="surname">User's surname</label>
        <input type="text" id="surname" th:field="*{surname}" th:value="${user.getSurname()}" placeholder="Enter user's surname">
    </div>
    <br>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>